# A Python Overview

Hello , Welcome all to this training of Data science with Python. This course is for the beginners who have no prior knowledge about Data Science or Python. Lets Begin with the overview of Python.

In [1]:
1

1

In [2]:
1+1

2

In [3]:
1-1

0

In [4]:
2*2

4

In [5]:
10/5

2

In [6]:
10/3

3

In [7]:
10.0/3

3.3333333333333335

In [9]:
10/3.0

3.3333333333333335

In [10]:
10%3

1

In [11]:
(2*5)*10

100

In [12]:
sqrt(25)

NameError: name 'sqrt' is not defined

In [13]:
import math

In [14]:
sqrt(25)

NameError: name 'sqrt' is not defined

In [15]:
math.sqrt(625)

25.0

In [16]:
from math import sqrt

In [17]:
sqrt(25)

5.0

In [18]:
a=5

In [19]:
b=10

In [20]:
a*b

50

In [21]:
a+b

15

In [22]:
c=b/a

In [23]:
c

2

In [24]:
Length = 10

In [25]:
Breadth = 5

In [26]:
area = Length * Breadth

In [27]:
area

50

In [28]:
'Hello World'

'Hello World'

In [29]:
"Hello Everyone"

'Hello Everyone'

In [30]:
print 'Hello Everyone'

Hello Everyone

In [31]:
print "Hello world"

Hello world

In [32]:
print 'Hello "World"'

Hello "World"

In [33]:
String = 'Hello World'

In [34]:
String

'Hello World'

In [35]:
print "Area is =",area

Area is = 50

In [36]:
String1 = "Hello Everyone"

In [37]:
String2 = "My name is Anirudda"

In [38]:
String1+ String2

'Hello EveryoneMy name is Anirudda'

In [39]:
comma = ','

In [40]:
String1 + comma + String2

'Hello Everyone,My name is Anirudda'

In [41]:
sentence = String1 + comma + String2

In [42]:
len(sentence) #call the len() function on a string

34

LISTS

In [44]:
numbers = [1 , 2, 3]

In [45]:
numbers

[1, 2, 3]

In [51]:
cities = ['Mumbai','Nagpur','Delhi','Pune']

In [53]:
cities

['Mumbai', 'Nagpur', 'Delhi', 'Pune']

In [49]:
cities[0]

'Mumbai'

In [50]:
cities[1]

'Nagpur'

**Note LISTS starts with index = 0 **

In [52]:
cities[-1]

'Pune'

To add more cities to list use append

In [54]:
cities.append('Bangalore')

In [55]:
cities

['Mumbai', 'Nagpur', 'Delhi', 'Pune', 'Bangalore']

List of numbers can be made using range

In [57]:
range(10)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [58]:
range(11)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [61]:
range(1,8)

[1, 2, 3, 4, 5, 6, 7]

In [65]:
range(0,21,2)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [66]:
range(0,171,17)

[0, 17, 34, 51, 68, 85, 102, 119, 136, 153, 170]

In [69]:
random_list = ['Hello',99,'Everyone',100]

In [70]:
random_list

['Hello', 99, 'Everyone', 100]

Note : Avoid using this type of list

In [71]:
len(random_list)

4

Using **For Loop**

In [72]:
for city in cities:
    print city

Mumbai
Nagpur
Delhi
Pune
Bangalore

In [75]:
for city in cities:
    phrase = 'I Love '+ city
    print phrase

I Love Mumbai
I Love Nagpur
I Love Delhi
I Love Pune
I Love Bangalore

In [77]:
for city in cities:
    print 'I have been to '+ city

I have been to Mumbai
I have been to Nagpur
I have been to Delhi
I have been to Pune
I have been to Bangalore

In [79]:
for n in range(1,10):
    print 'The inverse of ' ,n , ' is', 1.0/n

The inverse of  1  is 1.0
The inverse of  2  is 0.5
The inverse of  3  is 0.333333333333
The inverse of  4  is 0.25
The inverse of  5  is 0.2
The inverse of  6  is 0.166666666667
The inverse of  7  is 0.142857142857
The inverse of  8  is 0.125
The inverse of  9  is 0.111111111111

In [81]:
for letter in 'My name is Aniruddha':
    print letter

M
y

n
a
m
e

i
s

A
n
i
r
u
d
d
h
a

Boolean Operators

In [82]:
1==2

False

In [83]:
1==1

True

In [84]:
1>5

False

In [85]:
5<10

True

In [86]:
1>=9

False

In [88]:
[1,2,3] == [1,2,3]

True

In [90]:
cities

['Mumbai', 'Nagpur', 'Delhi', 'Pune', 'Bangalore']

In [91]:
city = cities[0]

In [92]:
city

'Mumbai'

In [94]:
if city == 'Nagpur':
    print 'Its hot here'
elif city == 'Mumbai':
    print 'party'
else:
    print'Where am i?'

party

In [95]:
city = cities[1]

In [97]:
if city == 'Nagpur':
    print "It's hot here"
elif city == 'Mumbai':
    print 'party'
else:
    print'Where am i?'

It's hot here

In [98]:
for city in cities:
    if city == 'Nagpur':
        print "It's hot here"
    elif city == 'Mumbai':
        print 'party'
    else:
        print'Where am i?'

party
It's hot here
Where am i?
Where am i?
Where am i?

Tupels

In [99]:
t = (1,2,3)

In [104]:
t.append(2)

AttributeError: 'int' object has no attribute 'append'

In [105]:
my_list = [1,2,3]

In [113]:
my_dict = {'Siddharth' : 25 , 'Abhijit' : 21}

In [114]:
my_dict

{'Abhijit': 21, 'Siddharth': 25}

In [115]:
my_dict['Siddharth']

25

In [116]:
len(my_dict)

2

Functions

In [118]:
def adder(x,y):
    return x+y

In [119]:
adder(5,5)

10

In [121]:
list = [4,2,2,4,11,4,4,5,3531,1,13,3,31]

In [122]:
list

[4, 2, 2, 4, 11, 4, 4, 5, 3531, 1, 13, 3, 31]

In [123]:
list.sort()

In [139]:
list

[1, 2, 2, 3, 4, 4, 4, 4, 5, 11, 13, 31, 3531]

In [141]:
import random

In [142]:
random.shuffle(list)

In [143]:
list

[4, 13, 4, 3, 31, 11, 2, 3531, 1, 5, 4, 2, 4]

even odd program

In [127]:
a =range(11)

In [128]:
a

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [138]:
for n in a:
    if (n % 2 == 0):
        print n," is even."
    else:
        print n ," is odd."

0  is even.
1  is odd.
2  is even.
3  is odd.
4  is even.
5  is odd.
6  is even.
7  is odd.
8  is even.
9  is odd.
10  is even.

In [144]:
def SquareIt(x):
    return x * x

print SquareIt(2)

4